<form ng-submit="submitGame()" id="submit-game">
  <select class="nba-dropdown" ng-model="game.home">
    <option ng-repeat="nbateam in nbateams" value="{{ nbateam.first_name }} {{ nbateam.last_name }}">
      {{ nbateam.first_name }} {{ nbateam.last_name }}
    </option>
  </select>
  <select class="nba-dropdown" ng-model="game.away">
    <option ng-repeat="nbateam in nbateams" value="{{ nbateam.first_name }} {{ nbateam.last_name }}">
      {{ nbateam.first_name }} {{ nbateam.last_name }}
    </option>
  </select>

  <input type="submit" value="Create Game" class="btn btn-success" />
</form>
<div class="clearfix"></div>
<div ng-repeat="(gameId, game) in games" class="col-md-4 col-sm-6 col-xs-12">
  <div class="game-card">
    <div class="game-card-header">
      <img class="test-icon-left" src="http://logoasylum.files.wordpress.com/2013/12/hornets_primary_logo.png" />
      <div class="game-teams home-team">{{ game.home }}</div>
      <span class="vs">vs</span>
      <div class="game-teams away-team">{{ game.away }} </div>
      <img class="test-icon-right" src="http://logoasylum.files.wordpress.com/2013/12/hornets_primary_logo.png" />
    </div>
    <div class="game-card-info">
      <div class="game-time">Time: 8:00 PM</div>
      <div class="game-score">Final: 82-73</div>
      <div class="number-props"># of Props: 2</div>
    </div>
    <div class="game-card-actions">
      <a class="btn btn-success" href="#/games/{{ gameId }}">View Game</a>
      <button type="button" class="btn btn-danger" ng-click="deleteGame(gameId)">Delete Game</button>
    </div>
  </div>
</div>
<div style="clear:both;"></div>
<br><hr><br>
<div style="padding:5px; border-bottom:1px solid #ddd; background:#{{nbateam.color3}};" ng-repeat="nbateam in nbateams">
  <h1 ng-click="hometeam = nbateam.first_name"><span style="color:#{{nbateam.color1}}">{{nbateam.first_name}}</span> <span style="color:#{{nbateam.color2}}">{{ nbateam.last_name }}</span><span style="color:#{{ nbateam.color4 }}">{{ nbateam.abbreviation }}</span></h1>{{hometeam}}
</div>
