<div>
  <div class="sub-nav">
    <strong>{{ game.home }}</strong>
    <span class="vs">vs</span>
    <strong>{{ game.away }} </strong>
  </div>
  <div class="clearfix"></div>
  <div ng-repeat="(propId, prop) in game.props" class="col-md-4 col-sm-6 col-xs-12">
    <div ng-hide="editEnabled" class="game-card">
      <div class="game-card-header">
        <strong>Question: {{ prop.question }}</strong>
      </div>
      <div class="game-card-info">
        <span>Option1: {{ prop.option1 }}</span>
        <br><span>Option2: {{ prop.option2 }}</span>
        <br><span>Result: {{ prop.result }}</span>
      </div>
      <div class="game-card-actions">
        <button ng-click="deleteProp(game,propId)" type="button" class="btn btn-danger">Delete Prop</button>
        <button ng-click="enableEdit()" type="button" class="btn btn-warning">Edit</button>
      </div>
    </div>
    <div ng-show="editEnabled">
      <strong>Question: </strong>
      <input ng-model="prop.question" placeholder="{{ prop.question }}" class="form-control" /><br>
      <span>Option1: {{ prop.option1 }}</span>
      <input ng-model="prop.option1" placeholder="{{ prop.option1 }}" class="form-control" />
      <span>Option2: {{ prop.option2 }}</span>
      <input ng-model="prop.option2" placeholder="{{ prop.option2 }}" class="form-control" /><br>
      <span>Result: {{ prop.result }}</span>
      <input ng-model="prop.result" placeholder="{{ prop.result }}" class="form-control" /><br>
      <button ng-click="saveProp(game, prop, propId)" type="button" class="btn btn-primary">Finish</button>
      <button ng-click="disableEdit()" type="button" value="Cancel" class="btn btn-warning">Cancel</button>
      <button ng-click="deleteProp(game,propId)" type="button" class="btn btn-danger">Delete Prop</button>
    </div>
  </div><!--
  <button type="button" class="btn btn-danger" ng-click="deleteGame(gameId)">Delete Game</button> -->
</div>

<form ng-submit="addProp()">
  <input ng-model="prop.question" placeholder="Enter Question Here" class="form-control" />
  <input ng-model="prop.option1" placeholder="Enter Option1 Here" class="form-control" />
  <input ng-model="prop.option2" placeholder="Enter Option2 Here" class="form-control" />
  <input ng-model="prop.result" placeholder="Enter Result Here" class="form-control" />
  <input type="submit" value="Add Prop" class="btn btn-primary" />
</form>

<a href="#/games">Back to Games</a>
